.connect-container {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  gap: 30%;
}

.connect-button {
  margin-top: 2%;
}

.not-connected-text {
  color: gray;
}

.install-metamask-title {
  color: #dbc1ac;
  font-weight: 600;
}
