.frappe-logo {
  height: 40%;
  position: absolute;
  top: 10%;
  right: -8%;
  transform: rotate(-30deg);
  background-attachment: fixed;
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.coffee-logo {
  height: 30%;
  position: absolute;
  bottom: -5%;
  left: -3%;
  transform: rotate(30deg);
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header {
  position: absolute;
  width: fit-content;
  left: 50%;
  translate: calc(-50%);
  font-weight: 900;
  margin-top: 1rem;
  color: saddlebrown;
}
