.buy-coffee-container {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 50%;
  translate: calc(-50%);
}

.textarea {
  resize: none;
}

.field {
  color: #6f4e37;
  background-color: transparent;
  border-color: rgba(139, 69, 19, 0.463);
}
.field:focus {
  color: #6f4e37;
  border-color: #ece0d1;
  box-shadow: 0 0 10px #ece0d1;
  background-color: transparent;
}

.field::placeholder {
  color: grey;
  opacity: 0.75; /* Firefox */
}

.buy-coffee-button {
  background-color: #6f4e37;
  color: #ece0d1;
  border: none;
  transition: all 0.2s ease-out;
  width: 9rem;
}

.buy-coffee-button:hover:not([disabled]) {
  background-color: #967259;
  transform: scale(1.1);
  box-shadow: 0 0 10px #ece0d1;
}

.buy-coffee-button:disabled {
  background-color: #967259;
  opacity: 0.6;
  cursor: default;
}

.withdraw-button {
  background-color: #ffbf00;
  color: white;
  border: none;
  transition: all 0.2s ease-out;
  width: 9rem;
}

.withdraw-button:hover:not([disabled]) {
  background-color: #fcd12a;
  transform: scale(1.1);
  box-shadow: 0 0 10px #ece0d1;
}

.fa-coffee,
.fa-money {
  margin-left: 5px;
}

.loading-table,
.no-history-message {
  position: absolute;
  top: 65%;
  left: 50%;
  translate: calc(-50%);
}

.loading-history-message,
.no-history-message {
  margin-top: 5%;
  color: gray;
  opacity: 0.5;
}

.history-table {
  position: absolute;
  top: 60%;
  width: 70%;
  max-width: 70%;
  left: 50%;
  translate: calc(-50%);
  display: flex;
  flex-direction: column;
}

.history-table > table > thead > tr > th {
  color: #6f4e37;
}

.view-messages {
  width: fit-content;
  background-color: #ece0d1;
  margin-top: -10px;
}

.view-messages > i {
  margin-left: 1%;
}

.view-messages:hover {
  border-color: rgba(139, 69, 19, 0.463);
}

.fa-clipboard {
  margin-left: 10px;
  cursor: pointer;
  color: #967259;
}
